.post {
  width: 100%;
  text-align: left;
  padding: 20px;
  background-color: var(--color);
  color: var(--background);
  margin-top: 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &-meta {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: var(--muted);
  }

  &-title {
    --border: 3px dotted var(--base08);
    position: relative;
    color: var(--base08);
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: var(--border);

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: var(--border);
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    color: var(--base05);

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (--phone) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    > li:before {
      content: '►';
      position: absolute;
      left: -20px;
      color: var(--accent);
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}
